/* Center the table */
.Container {
  display: flex;
  justify-content: center;
}

/* Style the search bar */
.Form.Control {
  border-radius: 20px;
  border: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.6);
}

/* Style the table */
.Table {
  font-size: 16px;
}

/* Style the table headers */
.Table thead th {
  font-size: 18px;
  font-weight: bold;
  background-color: #f2f2f2;
  color: #333;
}

/* Style the table rows */
.Table tbody td {
  font-size: 16px;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}

/* Style the table row on hover */
.Table tbody tr:hover {
  background-color: #f5f5f5;
}
